<%include includes/_header%> 

<div class="container">
    <h1>Clientes</h1>
    <a href="/agregar_cliente" class="btn btn-primary">Agregar Cliente</a><br><br>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th scope="col">Cedula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>01100</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>111</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>4878</td>
          </tr>
    
        </tbody>
      </table>

</div>


<%include includes/_footer%>